.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}




body {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;


}


.cardbackground{
  background: -moz-linear-gradient(50deg, rgba(198,66,114,1) 0%, rgba(109,38,83,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(198,66,114,1)), color-stop(100%, rgba(109,38,83,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(50deg, rgba(198,66,114,1) 0%, rgba(109,38,83,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(50deg, rgba(198,66,114,1) 0%, rgba(109,38,83,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(50deg, rgba(198,66,114,1) 0%, rgba(109,38,83,1) 100%); /* ie10+ */
background: linear-gradient(40deg, rgba(198,66,114,1) 0%, rgba(109,38,83,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d2653', endColorstr='#c64272',GradientType=0 ); /* ie6-9 */
}
.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}


#avatar{
  display: block;
  margin-left:auto;
  margin-right: auto;
  max-width: 200px;
}


.deets .card i {
    display: block;
    font-size: 58px;
    text-align: center;
}

.card {
    position: relative;
    margin: 10px;
    background-color: #eeeeee;
    color:#c64272;
    transition: box-shadow .25s;
    border-radius: 2px;
    text-align: center;
}

.card .card-content {
  align:center;
    padding: 20px;
    border-radius: 0 0 2px 2px;
}

.card .card-content .card-title {
    line-height: 48px;
}
.card .card-title {
    font-size: 24px;
    font-weight: 300;
}

.card .card-content p{
  font-size: 15px;
}

#deetz{
  margin: auto;
}


.c3-axis-y .tick line {
   display: none;
}


#nameblock h1{
  padding-top: 50px;
  font-size: 20px;
}


.scrollToTop{
	width:100px;
	height:100px;
	padding:10px;
	text-align:center;
  background: #c64272;
   background-image: -webkit-linear-gradient(top, #c64272, #6d2653);
   background-image: -moz-linear-gradient(top, #c64272, #6d2653);
   background-image: -ms-linear-gradient(top, #c64272, #6d2653);
   background-image: -o-linear-gradient(top, #c64272, #6d2653);
   background-image: linear-gradient(to bottom, #c64272, #6d2653);
	font-weight: bold;
	color: white;
	text-decoration: none;
	position:fixed;
	top:75px;
	right:40px;
	display:none;

}
.scrollToTop:hover{
	text-decoration:none;
}
.scrollToTopButton{
background: #c64272;
 background-image: -webkit-linear-gradient(top, #c64272, #6d2653);
 background-image: -moz-linear-gradient(top, #c64272, #6d2653);
 background-image: -ms-linear-gradient(top, #c64272, #6d2653);
 background-image: -o-linear-gradient(top, #c64272, #6d2653);
 background-image: linear-gradient(to bottom, #c64272, #6d2653);
 -webkit-border-radius: 28;
 -moz-border-radius: 28;
 border-radius: 28px;
 color: #ffffff;
 font-size: 20px;
 padding: 10px 20px 10px 20px;
 text-decoration: none;

}
.scrollToTopButton:hover{
  background: #9c999c;
  text-decoration: none;
}
